body {
    font-family: helvetica;
    font-size: 14px;
}
#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
}
h1 {
    opacity: 0.5;
    font-size: 1em;
}